.contenedor {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: auto;
    width: 100%;
}

.buscador-enfermedades {
    text-align: center;
}

.buscador-enfermedades input {
    width: 80%;
}

input[type=search] {
    background-color: white;
    background-image: url('../img/lupa.png');
    background-size: 20px;
    background-position: 4px 4px;
    background-repeat: no-repeat;
    border: 2px solid black;
    border-radius: 5px;
    padding: 7px;
    padding-left: 30px;
    margin-bottom: 15px;
}

.enfermedad {
    padding: 5px;
    display: block;
    text-align: center;
    background-color: #049c7c;
    color: white;
    margin: 15px 0px;
}

.enfermedad img {
    width: 200px;
    height: 200px;
    border: 2px solid black;
    border-radius: 5px;
}

.enfermedad p {
    text-align: left;
    margin-left: 10px;
}

.enfermedad input {
    background-color: white;
    border: 2px solid white;
    color: black;
    font-weight: bold;
    padding: 5px 5px;
    border-radius: 5px;
    margin-top: 15px;
}

h4 {
    text-align: center;
    color: white;
    margin: 15px 0px;
}

@media screen and (min-width:47em) {
    .contenedor {
        width: 80%;
    }
    .enfermedad {
        display: flex;
    }
    .enfermedad:hover {
        transform: scale(1.05);
        box-shadow: 10px 10px 13px -1px rgba(179, 179, 179, 1);
    }
    .enfermedad img {
        margin-right: 25px;
    }
    .enfermedad input {
        cursor: pointer;
        margin-top: 50px;
    }
    .enfermedad input:hover {
        background-color: #049c7c;
        color: white;
    }
}