main {
    margin: auto;
    width: 80%;
}

.enfermedad {
    padding: 10px;
    display: flex;
    background-color: #049c7c;
    color: white;
    margin: 15px 0px;
}

.enfermedad img {
    width: 300px;
    height: 300px;
    margin-right: 25px;
    border: 2px solid black;
    border-radius: 5px;
}

h4 {
    text-align: center;
    color: white;
    margin: 15px 0px;
}

h3 {
    text-align: center;
    color: #03644f;
    margin: 30px 0px;
}

.cont {
    display: flex;
    justify-content: space-around;
}

#sintomas {
    text-align: left;
}

.sintomas img {
    margin: auto;
    width: 45%;
    margin-right: 15px;
}

#tos {
    display: block;
    margin: auto;
}

input {
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    padding: 7px;
}

.enviar input {
    display: block;
    background-color: #049c7c;
    border: 2px solid white;
    color: white;
    padding: 16px 32px;
    margin: 5px auto;
    cursor: pointer;
    border-radius: 15%;
}

.enviar input:hover {
    background-color: white;
    border: 2px solid #03644f;
    color: #03644f;
}

.contenedor-grid {
    width: 30em;
    display: grid;
    grid-template-areas: "apyn apyn" "dni sexo" "edad telefono" "exterior exterior" "paises paises" "lista-sintomas lista-sintomas" "direccion ciudad";
}

.contenedor-grid label {
    display: block;
    margin-bottom: 5px;
}

.test {
    margin-left: 25px;
}

.contenedor-grid div {
    margin: 10px 5px;
}

.apyn {
    grid-area: apyn;
}

.apyn input {
    width: 90%;
}

.dni {
    grid-area: dni;
}

.telefono {
    grid-area: telefono;
}

.sexo {
    grid-area: sexo;
}

.edad {
    grid-area: edad;
}

.exterior {
    grid-area: exterior;
}

.paises {
    grid-area: paises;
}

.lista-sintomas {
    grid-area: lista-sintomas;
}

.lista-sintomas label {
    display: inline;
}

.direccion {
    grid-area: direccion;
}

.ciudad {
    grid-area: ciudad;
}

.precaucion {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.precaucion img {
    height: 25%;
    margin: auto;
    width: calc(25% - 25px);
    margin: 15px 0px;
}

.hospital-cercano {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 15px
}

.mapa {
    display: block;
    text-align: center;
    width: 50%;
    margin-left: 30px;
}

.mapa iframe {
    width: 100%;
    height: 20em;
}

.nombre-hospital {
    background-color: #049c7c;
}

.nombre-hospital h4 {
    text-align: center;
    color: white;
}

.nombre-hospital p {
    padding: 10px;
    color: white;
    margin-left: 10px;
}

.nombre-hospital img {
    display: block;
    margin: auto;
    height: 150px;
    width: 50%;
    border: 2px solid black;
    border-radius: 5px;
}