* {
    margin: 0;
    padding: 0;
}

/*  #03644f 
    #28c4a2 
    #049c7c */

h2 {
    text-align: center;
    color: #03644f;
    margin: 15px 0px;
}

ul {
    background-color: #049c7c;
    display: flex;
    justify-content: center;
    padding: 9px;
}

ul li {
    list-style: none;
    text-align: center;
}

ul li a {
    color: white;
    padding: 10px;
    text-decoration: none;
}

ul li a:hover {
    color: #049c7c;
    background-color: white;
}

body {
    background-color: white;
    font-family: 'Open Sans', sans-serif;
}

nav {
    border-bottom: 2px solid #03644f;
}

#header {
    display: flex;
    justify-content: space-around;
    background-color: #03644f;
    padding: 20px;
    color: white;
}

#header img {
    height: 20px;
    width: 40px;
}

input[list=buscador] {
    background-color: white;
    background-image: url('../img/lupa.png');
    background-size: 20px;
    background-position: 4px 4px;
    background-repeat: no-repeat;
    border: 2px solid black;
    border-radius: 5px;
    padding: 7px;
    padding-left: 30px;
}

#header input[type=submit] {
    background-color: white;
    border: 2px solid white;
    color: black;
    padding: 5px 5px;
    border-radius: 15%;
    cursor: pointer;
}

#header input[type=submit]:hover {
    background-color: #049c7c;
    color: white;
}

.div-footer {
    display: flex;
    justify-content: space-around;
    background-color: #03644f;
    padding: 10px;
    border-top: 4px solid #049c7c;
}

h5 {
    color: white;
    margin: 15px 0px;
    font-size: 1em;
    text-align: center;
}

.col img {
    height: 50px;
    width: 50px;
    padding: 10px;
    opacity: 0.6;
}

.col img:hover {
    opacity: 1;
}

ol li {
    color: white;
    list-style: none;
    text-align: center;
    margin-top: 5px;
}

ol li a {
    color: white;
    text-decoration: none;
}
#calendario img{
    margin: 15px 0px;
    width: 100%;
}