* {
    margin: 0;
    padding: 0;
}

/*  #03644f 
    #28c4a2 
    #049c7c */

h2 {
    text-align: center;
    color: #03644f;
    margin: 15px 0px;
}

ul {
    background-color: #049c7c;
    display: block;
    justify-content: center;
    padding: 0px;
}

ul li {
    list-style: none;
    text-align: center;
}

ul li a {
    display: block;
    color: white;
    padding: 9px;
    text-decoration: none;
}

ul li a:hover {
    color: #03644f;
    background-color: white;
}

.desplegable {
    width: 30px;
    height: 30px;
    background-color: #03644f;
    display: block;
    position: absolute;
    z-index: 1;
    top: 55px;
    right: 0px;
    margin: auto;
    border: 2px solid white;
    background-image: url(../img/hamburger.gif);
    background-size: cover;
    cursor: pointer;
}

.desplegable:hover {
    background-color: #049c7c;
}

.menu {
    display: none;
}

body {
    background-color: white;
    font-family: 'Open Sans', sans-serif;
}

nav {
    border-bottom: 4px solid #03644f;
}

#header {
    background-color: #03644f;
    padding: 10px;
    color: white;
}

#header img {
    height: 40px;
    width: 60px;
}

input[list=buscador] {
    background-color: white;
    background-image: url('../img/lupa.png');
    background-size: 20px;
    background-position: 4px 4px;
    background-repeat: no-repeat;
    border: 2px solid black;
    border-radius: 5px;
    padding: 7px;
    padding-left: 30px;
}

#header input[type=submit] {
    background-color: white;
    border: 2px solid white;
    color: black;
    padding: 5px 5px;
    border-radius: 15%;
    cursor: pointer;
}

#header input[type=submit]:hover {
    background-color: #049c7c;
    color: white;
}

.div-footer {
    display: grid;
    grid-template-areas: "integrantes menu-inferior" "redes-sociales redes-sociales";
    background-color: #03644f;
    padding: 10px;
    border-top: 4px solid #049c7c;
}

.integrantes {
    grid-area: integrantes;
}

.menu-inferior {
    grid-area: menu-inferior;
}

.redes-sociales {
    grid-area: redes-sociales;
    text-align: center;
}

h5 {
    color: white;
    margin: 15px 0px;
    font-size: 1em;
    text-align: center;
}

.redes img {
    height: 50px;
    width: 50px;
    padding: 10px;
}

.redes img:hover {
    opacity: 1;
}

ol li {
    color: white;
    list-style: none;
    text-align: center;
    margin-top: 5px;
}

ol li a {
    color: white;
    text-decoration: none;
}

#calendario img {
    margin: 15px 0px;
    width: 100%;
}

.logo {
    display: block;
    text-align: center;
}

.logo h1 {
    display: none;
}

.buscar {
    text-align: center;
}

@media screen and (max-width:46em) {
    input[list=buscador] {
        width: 40%;
    }
}

@media screen and (min-width:47em) {
    #header {
        display: flex;
        justify-content: space-around;
        max-width: 100%;
    }
    ul {
        display: flex;
        justify-content: center;
    }
    .desplegable {
        display: none;
    }
    .menu {
        display: block !important;
    }
    .logo {
        display: flex;
    }
    .logo h1 {
        padding: 5px;
        display: flex;
    }
    .div-footer {
        display: flex;
        justify-content: space-evenly;
    }
    .redes img {
        height: 50px;
        width: 50px;
        padding: 10px;
        opacity: 0.6;
    }
}